*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif, Arial, Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: #4e4376;
  font-size: 1.2rem;
  margin: 20px 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #476a81 10%, #4e4376 70%);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.left-label {
  right: 20px;
}

.right-label {
  left: 20px;
}
.left-label, .right-label {
  bottom: -8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* main design */
.main{
 display: flex;
 margin-top: 50px;
}
.basic{
  color: gray;
  padding-top: 20px;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.middle{
  color: white;
  background:linear-gradient(to bottom, #476a81 10%, #4e4376 70%);
  transform: scale(1.1);
}
.middle .price{
  color: white;
}
.middle .learn-more{
  color: #4e4376;
  background: rgb(214, 214, 214);
  border: none;
  height: 30px;
  width: 160px;
  margin: 20px 0;
  border-radius: 10px;
}
.middle .learn-more:hover{
  color: white;
  background: linear-gradient(to bottom, #476a81 10%, #4e4376 70%);
  border: 1px solid white;
}
.sub-type{
  text-align: center;
  font-weight: bold;
}
.basic p{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  width: 80%;
}
.price{
  color: hsl(0, 0%, 22%);
  font-size: 2rem;
  font-weight: bold;
}
.price span{
  font-size: 3rem;
}
.learn-more{
  color: white;
  background: linear-gradient(to bottom, #476a81 10%, #4e4376 70%);
  border: none;
  height: 30px;
  width: 160px;
  margin: 20px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.5s;
}
.learn-more:hover{
  color: #4e4376;
  background: rgb(214, 214, 214);
  transition: all 0.5s;
}